<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %>">
  <div class="d-flex  align-items-center">
    <% if message.user.image.attached? %>
      <%= image_tag message.user.image,size: "50x50", class: "img-circle rounded-circle" %>
     <% else %>
      <%= image_tag "default_image.png", size: "50x50", class: "img-circle rounded-circle" %>
    <% end %>
    
    <% if !message.room.is_private %>
      <h6 class="name"><%= message.user.email %></h6>
    <% end %>
  </div>
  <div class="msg-content">
    <%= message.body %>
    <% if message&.image.attached? %>
      <%= image_tag message&.image, size: "100x100" %>
    <% end %>
  </div>
  </div>
</div>